
.info {
  background-color: green;
  display: flex;
  align-items: center;
  padding: 10px;
}

.info li {
  list-style-type: disc;
  margin-right: 20px;
  white-space: nowrap;
}

.logo_info {
  display: flex;
  align-items: center;
}

.logo_info img {
  max-height: 30%;
  max-width: 20%;
  margin-left: auto;
}
.logo {
  max-width: 30px;
  height: auto;
  margin-right: 10px;
}


.featured-plants {
  background-color: #ede7e7a1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr)); /* 3 colonne con larghezza uguale */
  grid-gap: 20px; /* Spazio tra le palle */
}

.plant-item a {
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* Transizione del colore durante il passaggio del mouse */
}

.plant-item p:hover,
.plant-item p:active {
  color: orange; /* Cambia il colore del testo al passaggio del mouse o al click */
}

.plant-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.3s; /* Transizione dell'ingrandimento al passaggio del mouse */
}

.plant-item img:hover,
.plant-item img:active {
  transform: scale(1.1); /* Ingrandisce leggermente l'immagine al passaggio del mouse o alla selezione */
}
.plant-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.plant-item p {
  margin-top: 10px;
  font-family: Arial, sans-serif; /* Cambia il font delle scritte */
  font-size: 16px; /* Aumenta la dimensione del testo */
}



.additional-image {

  height: 200px;
  background-image: url("loghi/HEADER.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;

}

  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;

  }
.navbar {
  background-color: #f2f2f2; /* Colore di sfondo della navbar */
  padding: 10px;
  display: flex;
  align-items: center; /* Center vertically */
}

.logo {
  margin-right: auto; /* Pushes the logo to the left */
}

.nav-links {
  margin-left: auto; /* Pushes the links to the right */
}


.divider {
  background-image: url("LOGHI/HEADER.png");
  padding: 10px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between;
  height:50px;
}

.link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  flex: 1;
}



.logo-img {
  width: 10em; /* Esempio di dimensione del logo uguale a 2 volte la dimensione del testo */
  height: auto;
}

.navbar a {
  color: black; /* Colore del testo dei link */
  text-decoration: none;
  margin-left: 10px; /* Aggiunge spazio tra i link */
}

.navbar a.active {
  font-weight: bold;
}


  .additional-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  

.big-text {
  font-size: 50px; /* Font più grande */
}

.short-text {
  font-size: 30px; /* Font più grande */
}


  
  .footbar {
    background-color: #063e2b; /* Colore di sfondo verde scuro */
    color: black; /* Colore del testo nero */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footbar-left {
    font-weight: bold;
  }
  
  .footbar-right {
    text-decoration: underline;
  }
  
  .footbar-right span {
    text-decoration: none;
  }
  
  .footbar-right span:last-child {
    text-decoration: none;
  }
  
  .footbar-right span:not(:last-child)::after {
    content: " - ";
  }
  
  .footbar-right a {
    color: black;
    text-decoration: none;
  }
  
  
  
